body {font-family: 'Open Sans', Arial, Helvetica, sans-serif; overflow: auto;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password], input[type=datetime-local], input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  display: block;
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  max-width:15%;
  max-height:15%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.tg  {
	border-collapse:collapse;
    border-spacing:0;
    width:100%;
}

.tg td {
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
    background-color:#fe9b9b;
}

.tg th {
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
    color:white;
    background-color:#006e08;
}

.tg .tg-0lax {
	text-align:left;
    vertical-align:top
}

.tg-sort-header::-moz-selection {
	background:0 0
}

.tg-sort-header::selection{
	background:0 0
}

.tg-sort-header{
	cursor:pointer
}

.tg-sort-header:after {
	content:'';
    float:right;
    margin-top:7px;
    border-width:0 5px 5px;
    border-style:solid;
    border-color:#404040 transparent;
    visibility:hidden
}

.tg-sort-header:hover:after {
	visibility:visible
}

.tg-sort-asc:after,.tg-sort-asc:hover:after,.tg-sort-desc:after {
	visibility:visible;
    opacity:.4}

.tg-sort-desc:after {
	border-bottom:none;
    border-width:5px 5px 0}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .tg {
      width: auto !important;
   }
    
  .tg col {
   	  width: auto !important;
   }
   
  .tg-wrap {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }
    
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
